</div>
<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
  <div class="m-form__actions m-form__actions--solid">
    <div class="row">
      <div class="col-lg-12">
        <%= form.submit class: "btn btn-success" %>
        <%= link_to 'Cancel', cancelpath, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>