<div class="m-widget13__action m--align-right">
  <%= link_to 'Edit', editpath, class: "m-widget__detalis  btn m-btn--pill  btn-accent" %>
  <%= link_to 'Back', backpath, class: "btn m-btn--pill btn-secondary" %>
</div>
</div>

</div>
</div>
<!--end::Portlet-->
</div>
</div>
</div>