<p id="notice"><%= notice %></p>

<p>
  <strong>Pro crusher:</strong>
  <%= @pro_crusher_sub.pro_crusher %>
</p>

<%= link_to 'Edit', edit_pro_crusher_sub_path(@pro_crusher_sub) %> |
<%= link_to 'Back', pro_crusher_subs_path %>
