<!--begin:: Widgets/Authors Profit-->
<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <strong>Asphalt Details:</strong>
        </h3>
        
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">

        <li class="m-portlet__nav-item">
          <%= link_to asph_province_pro_details_province_pro_assets_path(province_id: params[:province_id], q: request.parameters[:q],format: :pdf), class: "btn m-btn m-btn--icon m-btn--pill m-btn--air btn-danger", target: "_blank" do %>
            <span>
              <i class="la la-file"></i>
              <span>
                Create PDF document
              </span>
            </span>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
  <div class="m-portlet__body">


    <!--Begin::Section-->
    <div class="m-section">
      <div class="m-section__content">
        <div class="table-responsive">

        <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>Asphalt Work Hours Sum</th>
              <th>Asphalt Amount Sum (Ton)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="m--font-info font-weight-bold" id="asphalt_hours_sum_id"></td>
              <td class="m--font-brand font-weight-bold" id="asphalt_amount_sum_id"></td>
            </tr>
          </tbody>
        </table>




        <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>Type - Product</th>
              <th>Amount (Ton)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="m--font-default"><strong>Base - 70/10</strong></td>
              <td class="font-weight-bold" id="asphalt_base_70_10_id"></td>
            </tr>
            <tr>
              <td class="m--font-default"><strong>Base - 76/10</strong></td>
              <td class="font-weight-bold" id="asphalt_base_76_10_id"></td>
            </tr>
            <tr>
              <td class="m--font-default"><strong>Base - 60/70</strong></td>
              <td class="font-weight-bold" id="asphalt_base_60_70_id"></td>
            </tr>
            <tr>
              <td class="m--font-default"><strong>Wearing - 70/10</strong></td>
              <td class="font-weight-bold" id="asphalt_wearing_70_10_id"></td>
            </tr>
            <tr>
              <td class="m--font-default"><strong>Wearing - 76/10</strong></td>
              <td class="font-weight-bold" id="asphalt_wearing_76_10_id"></td>
            </tr>
            <tr>
              <td class="m--font-default"><strong>Wearing - 60/70</strong></td>
              <td class="font-weight-bold" id="asphalt_wearing_60_70_id"></td>
            </tr>

          </tbody>
        </table>


        </div>
      </div>
    </div>
    <!--End::Section-->


  </div>

</div>