<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
	  <!-- left side content here -->
	</div>
	<div>

	  <%= search_form_for @q, remote: true, class: "m-form m-form--fit form-inline" do |f| %>

        <%= f.search_field :province_pro_asset_name_cont, class: "form-control m-input--fixed-small", placeholder: "Province Name" %>

        <%= f.collection_select :area_pro_asset_id_eq, AreaProAsset.order(:area_pro_asset_name), :id, :area_pro_asset_name, {include_blank: "Area: Any"}, {class: "form-control m-input--fixed m-select2"} %>

        <%= f.submit "Search", class: "btn btn-brand m-2" %>
        
      <% end %>

    </div>
  </div>
</div>