</table>
</div>
</div>
<!--End::Section-->
<div class="mb-3 pb-3">
  <div class="digg_pagination m--pull-left">
    <span class="page_info">
      <%= page_entries_info pages_collection, model: pages_model %>
    </span>
  </div>
  <div class="digg_pagination m--pull-right">
    <%= will_paginate pages_collection, :container => false %>
  </div>
</div>

</div>
<!--End::m-portlet__body-->

</div>
<!--End::Portlet-->
</div>
<!--End::col-xl-12-->
</div>
<!--End::Row-->
</div>
<!--End::m-content-->