<%= render 'layouts/myshow/before_myshow', mytitle: "Concrete Product" %>

<div class="m-widget13__item">
    <span class="m-widget13__desc m--align-right">
      Concrete Product Name
    </span>
  <span class="m-widget13__text m-widget13__text-bolder">
      <%= @pro_concrete_product.pro_concrete_product_name %>
    </span>
</div>

<%= render 'layouts/myshow/after_myshow', editpath: edit_pro_concrete_product_path(@pro_concrete_product), backpath: pro_concrete_products_path %>